@{
    ViewData["Title"] = "Inicio";
}

<h2>Bienvenido a TecnoVenta</h2>
<p>Selecciona una opción:</p>

<div style="margin-top:20px;">
    <a class="btn btn-primary" href="/Clientes">Gestión de Clientes</a>
    <a class="btn btn-success" href="/Productos">Gestión de Productos</a>
    <a class="btn btn-warning" href="/Ventas">Gestión de Ventas</a>
</div>
